/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}


.container {
    height: 1050px;
    width: 100%;
    background-color: #111827;
    display: flex;
    flex-direction: row;
    position: relative;
}


.containerJogo {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.botaoIniciar {
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.caixaPontuacao {
    display: flex;
    width: 720px;
    height: 80px;
    margin-top: 25px;
    border-radius: 40px;
    font-size: 18px;
    border: 2px solid white;
    background: #1f2f48;
    border: 2px solid #8b21c4;
    align-items: center;
    justify-content: center;
}

.pontuacaoDurante {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.pontuacaoFinal {
    padding: 10px;
    color: white;
}

.infoQuestao {
    padding: 8px;
    font-size: 16px;
    color: #aab3bf;
}

.perguntaAtual {
    color: white;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.facaEscolha {
    padding: 8px;
    color: white;
    font-size: 16px;
    color: #cbd5f5;
}

.opcoesResposta {
    display: flex;
    background: #1f2f48;
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-size: 19px;
    flex-direction: column;
}

.botoesQuiz {
    display: flex;
    flex-direction: column;
    background-color: #497cc9;
    margin-top: 10px;
}

.botoesQuiz button {
    height: 25px;
    font-size: 18px;
}

#jogo {
    background: #1f2f48;
    padding: 25px;
    border-radius: 15px;
    width: 520px;
    border: 2px solid #8b21c4;
    box-shadow: 20px 20px 33px rgba(217, 74, 227, 0.2);
    margin-top: auto;
    margin-bottom: auto;
}

.cardFeito {
    display: flex;
    height: 250px;
    width: 600px;
    border-radius: 20px;
    background: #425672;
    margin: auto;
    margin-left: 450px;
    margin-top: 350px;
    border: 1.5px solid rgb(149, 58, 167);
}

.cardFeito H1 {
    margin: auto;
    font-size: 37px;
    color: #d8d8d8;
}

.iconeLuffy {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 250px;
}