* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    position: sticky;
    height: 80px;
    background-color: black;
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 160px;
    font-size: 19px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

header a:hover {
    transform: scale(1.2);
    transition: trasnform 0.6s;
}

header span {
    display: flex;
    margin-left: 20px;
    font-size: 33px;
    align-items: center;
    color: white;
    font-weight: bold;
}

header b {
    font-size: 45px;
    color: red;
}

footer {
    height: 250px;
    width: 100%;
    border-top: 2px solid white;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 390px;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.criadores {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.made {
    display: flex;
    align-items: center;
    margin-top: 140px;
    flex-direction: column;
}

.made span {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.made b {
    font-size: 20px;
}